<h3>Cart</h3>




  <div>
    <label for="userId">
      Name
    </label>
    <input id="userId" type="text" [(ngModel)]="userId">
  </div>

  
  <button class="button" (click)="click()">Purchase</button>

